@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    /* background-image: url('../../Images/Vector163.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.logo img{
    width: 130px;
    height: 35px;
}

.navbar, .logo, .signin {
    margin: 10px auto;
}

.navbar a{
    color:#211B3D;
    text-decoration: none;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0;
}

.navbar a:hover{
    color: #FB644B;
    border-bottom: 2px solid #FB644B;   
}

.navbar a#current{
    color: #FB644B;
    border-bottom: 2px solid #FB644B;
}

.signin a button{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    background-color: #FB644B;
    color: #FFFFFF;
    border: none;
    transition-duration: 0.5s;
}

.signin a button:hover{
    background-color: #FFCBC9;
    color: #211B3D;
}

.signin a {
    color: #211B3D;
    text-decoration: none;
    font-weight: 500;
    transition-duration: 0.5s;
}

.signin button a:hover{
    color: #FFFFFF;
}

.title, .search {
    margin-left: 100px;
}

.title h2{
    color:#211B3D;
    font-weight: 700;
}

.title h6{
    color: #211B3D;
    font-weight: 500;
}

.search form input{
    width: 210px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #FB644B;
    opacity: 0.5;
    margin-right: 10px;
    padding: 10px;
}

.search form input::placeholder{
    font-weight: 500;
    color: rgba(33, 27, 61, 0.5);
}

.signin input{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    background-color: #FB644B;
    color: #FFFFFF;
    border: none;
    transition-duration: 0.5s;
}

.signin input:hover{
    background-color: #FFCBC9;
    color: #211B3D;
}

.doctor-card {
    margin-left: 100px;
}

.card{
    transition-duration: 1s;
}

.card:hover{
    transform: scale(1.1);
}

.doctorname {
    color: #211B3D;
    font-weight: 600;
}

.doctortitle{
    color: #9B9B9B;
    margin-bottom: 5px;
    font-weight: 600;
}