/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    /* background-image: url("<?php echo base_url() . 'assets/Images/BackGround.png'; ?>"); */
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    align-items: center;
    text-align: center;
    /* background: linear-gradient(277.23deg, #FFCDCC 2.3%, #FFFFFF 96.7%); */
}

.logo {
    margin-left: 100px;
}

.logo img{
    width: 130px;
    height: 35px;
}

.navbar{
    margin: 10px 250px;
}

.navbar a{
    color:#211B3D;
    text-decoration: none;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    transition-duration: 0.1s;
    padding-bottom: 0;
}

.navbar a:hover{
    color: #FB644B;
    border-bottom: 2px solid #FB644B;
}

.navbar a#current{
    color: #FB644B;
    border-bottom: 2px solid #FB644B;
}

.signin{
    width: 680px;
    height: 420px;
    border-radius: 40px;
    padding: 10px;
    margin: 50px auto;
    background: linear-gradient(121.27deg, #FFCBC9 -22.1%, #FFFFFF 135.65%);
}

.signtitle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
}

.signtitle h3{
    font-weight: 700;
    line-height: 24px;
    font-size: 35px;
    color: #211B3D;
    margin:20px auto;
}

#mail{
    height:250px;
    animation: float 2s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0px);
      }
      50%{
        transform: translateY(-20px);
      }
}

.message{
    color: #FB644B;
    font-weight: 700;
}

.message span{
    color:#211B3D;
}

.regist{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}

.regist button{
    width: 250px;
    height: 60px;
    border-radius: 90px;
    border: none;
    background-color: #FB644B;
    color:#FFFFFF;
    margin-top: 10px;
}